body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 0 0.5rem;
    padding: 1rem;
    text-align: center;
}

.card h3 {
    margin-bottom: 1rem;
    color: #333;
}

.card p {
    font-size: 1.5rem;
    color: #007BFF;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chart-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    width: 30%;
    padding: 1rem;
}

.chart-container h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #333;
}

/*table css start */
.containerr {
    width: 90%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tab {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #007BFF;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

table tr:hover {
    background-color: #f1f1f1;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}